@media screen and (min-width: 1200px) {
  nav .bars {
      display: none !important;
  }
}
@media screen and (max-width: 992px) {
  nav .bars {
    display: none !important;
  }
}
/* end of large screen */
@media screen and (max-width: 768px) {
  header{
    padding: 50px 30px;
  }
  .site-title h3{
    font-size: 1.2rem;
  }
  nav ul li {
    margin-right: 25px;
  }
  .sponsors-container {
    /* flex-direction: column; */
    flex-wrap: wrap;
}



}
/* end of medium screen */
@media screen and (max-width: 576px) {
  header {
    padding: 40px 50px;
  }

  .hero {
    margin-top: 30px;
  }

  nav {
    flex-direction: column;
  }

  nav ul li {
    margin-right: 16px;
  }

.hero {
  margin-top: 30px;
  flex-direction: column;
}
.hero-text-box {
  text-align: center;
  padding-bottom: 30px;
}
.hero-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.hero-des {
  font-size: .8rem;
}

.hero-btn {
  font-size: 0.8rem;
  padding: 10px 15px;
}
.sponsors-container {
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.sponsors-container img {
  margin-bottom: 30px;
}




}
/* end of small screen */

@media screen and (max-width: 320px) {
header{
  padding: 30px 20px;
}
nav
{
  flex-direction: column;
  position: relative;
}
nav ul{
  flex-direction: column;
  display: none;
}
nav ul li{
  margin-right: 10px;
}
nav .bars {
  display: none !important;
}
.site-title {
  z-index: 999;
}
.site-title h3 {
  font-size: 1.2rem;
  padding-bottom: 13px;
}

nav .bars{
  position: absolute !important;
  left: 0 !important;
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  width: 100% !important;
  grid-template-rows: 1fr 1fr !important;
  top: 7px !important;
}
nav .bars > .fa-cart-arrow-down{
  margin-left: 125px !important;
}
.hero{
  margin-top: 30px;
  flex-direction: column;
}
.hero-text-box {
  text-align: center;
  padding-bottom: 30px;
}
.hero-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.hero-des{
  font-size: .8rem;
}
.hero-btn{
  font-size: 0.8rem;
  padding: 10px 15px;
}
.sponsors-container{
  flex-direction: column;
}
.sponsors-container img{
  margin-bottom: 30px;
}

}
/* end of extra small device */





















